extends layout

block content
    h3 #{title}
    form(method='post', action=`/submitL`)
        p Username: 
            input(type='text' name='username' required)
        p Password: 
            input(type='password' name='password' required)
        p
            input(type='submit', value=title)