* {
    font-family: Arial, Helvetica, sans-serif
}

html {
    background: linear-gradient(to bottom right, #88D, #55D);
    background-attachment: fixed;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

form,
h3,
h1 {
    margin-left: 10px;
}

h1 {
    font-family: 'Baloo', cursive;
}

h3 {
    font-weight: bold;
    font-size: 20px;
}

footer {
    padding-bottom: 4px;
    font-size: 16px;
}

img {
    border-radius: 10px;
    box-shadow: 5px 5px;
    padding-left: 5px;
    padding-top: 5px;
}

.profile_pic {
    box-shadow: none;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 45%;
}

.profile_pic:hover {
    border-radius: 9%;
    -webkit-transition: 1s;
    transition: 1s;
}

.menu_item {
    display: inline-block;
    width: auto;
    height: 25px;
    margin: 0px;
    padding: 20px 26px;
    padding-left: 25px;
    background: #55F;
    text-align: center;
    text-decoration: none;
}

.menu_item:hover {
    background: #57E;
}

.navbar,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #55F;
}

li {
    color: white;
}

li a {}

.menu_item #Register,
li #Login {}

#posted {
    font-size: 10px;
}

.message {
    border: 2px #000 solid;
    border-radius: 10px;
    margin: 0px 10px 20px 10px;
    padding: 5px;
    background-color: #5DF;
}

.userMsg {
    
}